* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #606368;
  font-weight: 400;
}
section{
  scroll-margin: 90px;
}

.first-page{
  background-image: url(https://templatemo.com/templates/templatemo_504_page_one/img/bg-01.jpg);
  background-position: center;
  background-size: cover;
}
.main-content {
  margin: 0 auto;
  padding: 0 15px;
}
.heading {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
.sub-heading {
  font-size: 3rem;
  border: 2px solid #888481;
  padding: 30px 40px;
  display: inline-block;
  margin: 0;
}
.card {
  max-width: 600px;
  background-color: white;
  color: #606368;
  padding: 50px;
  padding-bottom: 50px;
}
.card-title {
  color: #96c700;
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: 0;
}
.card-para {
  line-height: 1.8;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 50px;
}
strong {
  color: #0275d8;
  font-weight: 400;
}
.btn {
  color: white;
  border: none;
  background-color: #983333;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 15px 30px;
  display: block;
  margin-left: auto;
}
.second-page{
  background-image: url(https://templatemo.com/templates/templatemo_504_page_one/img/bg-02.jpg);
}
.card-2{
  background-color:rgba(255, 2555,255,0.6);
  max-width: 600px;
  box-sizing: border-box;
  padding: 180px 50px 100px;
  backdrop-filter: blur(1px);
  display: block;
  margin-left: auto;
}
.card-2-heading{
  color: #0275d8;
  font-size: 2.6rem;
  font-weight: 400;
  margin:0;
  margin-bottom:30px;


}
